<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="recommended(recommended_books)">
    <div class="Section-header">
        <h2 class="Section-title" th:text="#{midbar.recommended}">Рекомендуемое
        </h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" data-load="recommended" data-loadoffset="0" data-loadlimit="6">
            <div class="Slider-item" th:each="book : ${recommended_books}">
                <div class="Slider-content">
                    <div class="Card">
                        <a class="Card-picture" th:href="@{/book/{slug}(slug=${book.slug})}">
                            <img th:src="${book.image}" alt="card.jpg"/>
                            <div th:if="${book.isBestseller}" class="Card-ribbon">
                                <span class="Card-ribbonText" th:text="#{midbar.bestseller}">Бестселлер</span>
                            </div>
                        </a>
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a th:href="@{/book/{slug}/(slug=${book.slug})}" th:text="${book.title}">Техника</a>
                            </strong>
                            <div class="Card-description" th:text="${book.author}">
                                Кондратенко Валерий Петрович
                            </div>
                            <div class="Card-cost">
                                <div th:if="${book.discount} > 0">
                                    <span class="Card-priceOld" th:text="${book.price}">₽300.00</span>
                                    <span class="Card-price"
                                          th:text="${book.price - (book.price / 100 * book.discount)}">₽190.00</span>
                                </div>
                                <div th:if="${book.discount} == 0">
                                    <span class="Card-price" th:text="${book.price}">₽300.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate"></div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных</div>
        </div>
    </div>
</div>

<div th:fragment="popular(popular_books)">
    <div class="Section-header">
        <h2 class="Section-title" th:text="#{midbar.popular}">Популярное</h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" data-load="recommended" data-loadoffset="0" data-loadlimit="6">
            <div class="Slider-item" th:each="book : ${popular_books}">
                <div class="Slider-content">
                    <div class="Card">
                        <a class="Card-picture" th:href="@{/book/{slug}/(slug=${book.slug})}">
                            <img th:src="${book.image}" alt="card.jpg"/>
                            <div th:if="${book.isBestseller}" class="Card-ribbon">
                                <span class="Card-ribbonText" th:text="#{midbar.bestseller}">Бестселлер</span>
                            </div>
                        </a>
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a th:href="@{/book/{slug}/(slug=${book.slug})}" th:text="${book.title}">Техника</a>
                            </strong>
                            <div class="Card-description" th:text="${book.author}">
                                Кондратенко Валерий Петрович
                            </div>
                            <div class="Card-cost">
                                <div th:if="${book.discount} > 0">
                                    <span class="Card-priceOld" th:text="${book.price}">₽300.00</span>
                                    <span class="Card-price"
                                          th:text="${book.price - (book.price / 100 * book.discount)}">₽190.00</span>
                                </div>
                                <div th:if="${book.discount} == 0">
                                    <span class="Card-price" th:text="${book.price}">₽300.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate"></div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных</div>
        </div>
    </div>
</div>

<div th:fragment="recent(recent_books)">
    <div class="Section-header">
        <h2 class="Section-title" th:text="#{midbar.recent}">Новинки</h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" data-load="recommended" data-loadoffset="0" data-loadlimit="6">
            <div class="Slider-item" th:each="book : ${recent_books}">
                <div class="Slider-content">
                    <div class="Card">
                        <a class="Card-picture" th:href="@{/books/book/{slug}/(slug=${book.slug})}">
                            <img th:src="${book.image}" alt="card.jpg"/>
                            <div th:if="${book.discount > 0}" class="Card-sale"
                                 th:text="${book.discount} + '% скидка!'">
                            </div>
                        </a>
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a th:href="@{/book/{slug}/(slug=${book.slug})}" th:text="${book.title}">Техника</a>
                            </strong>
                            <div class="Card-description" th:text="${book.author}">
                                Кондратенко Валерий Петрович
                            </div>
                            <div class="Card-cost">
                                <div th:if="${book.discount} > 0">
                                    <span class="Card-priceOld" th:text="${book.price}">₽300.00</span>
                                    <span class="Card-price"
                                          th:text="${book.price - (book.price / 100 * book.discount)}">₽190.00</span>
                                </div>
                                <div th:if="${book.discount} == 0">
                                    <span class="Card-price" th:text="${book.price}">₽300.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate"></div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text" th:text="#{midbar.loading}">Идет загрузка данных</div>
        </div>
    </div>
</div>

<div th:fragment="tags">
    <h2 class="Middle-title" th:text="#{midbar.tags}">Книги по тегам
    </h2>
    <div class="Tags" id="tags">
        <div class="Tag Tag_xs"><a th:href="@{/tag/war}">war</a>
        </div>
        <div class="Tag Tag_sm"><a th:href="@{/tag/classic}">classic</a>
        </div>
        <div class="Tag"><a th:href="@{/tag/fun}">fun</a>
        </div>
        <div class="Tag Tag_md"><a th:href="@{/tag/fantasy}">fantasy</a>
        </div>
        <div class="Tag Tag_lg"><a th:href="@{/tag/english}">english</a>
        </div>
        <div class="Tag"><a th:href="@{/tag/rus}">rus</a>
        </div>
        <div class="Tag"><a th:href="@{/tag/usa}">usa</a>
        </div>
        <div class="Tag Tag_md"><a th:href="@{/tag/child}">child</a>
        </div>
        <div class="Tag"><a th:href="@{/tag/detective}">detective</a>
        </div>
        <div class="Tag Tag_sm"><a th:href="@{/tag/love}">love</a>
        </div>
        <div class="Tag"><a th:href="@{/tag/adventure}">adventure</a>
        </div>
        <div class="Tag"><a th:href="@{/tag/favorite}">favorite</a>
        </div>
        <div class="Tag Tag_xs"><a th:href="@{/tag/vampire}">vampire</a>
        </div>
        <div class="Tag Tag_xs"><a th:href="@{/tag/tale}">tale</a>
        </div>
        <div class="Tag"><a th:href="@{/tag/magic}">magic</a></div>
        <div class="Tag"><a th:href="@{/tag/bio}">bio</a></div>
    </div>
</div>
</body>
</html>